.column {
  display: flex;
  flex-direction: column;
  padding: 0px;

  width: 100%;

  position: relative;

  border: 2px solid transparent;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

.row {
  display: flex;
  padding: 0px;

  position: relative;
  width: 90%;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  /* Inside Auto Layout */

  justify-content: center;
  order: 2;
  align-self: center;

  background-color: transparent;
}
