
* {
    position: relative;
    background: #FFFFFF;
}

.title {
    position: relative;
    width: 316px;
    height: 25px;
    left: 380px;
    top: 78px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 34px;
    display: flex;
    align-items: center;

    color: #303943;
}